@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
}
input::placeholder {
  color: #000;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
}

input[type="radio"]:checked {
  background-color: blue;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.hero-python::after {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("/logos/Rectangle\ 9.svg");
  background-repeat: no-repeat;
}
.carrer-bg::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -150px;
  width: 100%;
  height: 100%;
  background-size: 78%;
  background-image: url("/home/Rectangle\ 9.png");
  background-repeat: no-repeat;
  z-index: -1;

  backdrop-filter: blur(156px);
}

/* Added smooth horizontal scrolling animation for technology logos */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.card-gradient-border {
  border-bottom: 1px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    115.38deg,
    rgba(48, 226, 157, 0.6) 62.6%,
    rgba(33, 43, 166, 0.6) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Graphik;
  color: white;
  background: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@font-face {
  font-family: Graphik;
  src: url("/GraphikRegular.woff2");
}
@font-face {
  font-family: Graphikmid;
  src: url("./Graphik-Medium-Trial.otf");
}

@font-face {
  font-family: Graphikthinner;
  src: url("./GraphikThin.woff");
}
@font-face {
  font-family: Graphikthin;
  src: url("./Graphik-Light-Trial.otf");
}
@font-face {
  font-family: Graphikmedium;
  src: url("./Graphik-Extralight-Trial.otf");
}
@font-face {
  font-family: Clash;
  src: url("./ClashDisplayBold.otf");
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mixblend {
  mix-blend-mode: color-dodge;
}

.hero-bg::after {
  content: "";
  /* background-image: url("../public/svgs/Frame\ 1000002955.svg"); */
  background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%);
  width: 62%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  right: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
.drope-down::after {
  content: "";
  background-image: url("/svgs/Frame\ 1000002955.svg");
  width: 60%;
  position: absolute;
  top: 10px;
  right: 0px;
  /* bottom: 0; */
  height: 400px;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: -1;
}
input {
  outline: none;
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
input::placeholder {
  font-size: 17.51px;
  line-height: 21.54px;
  color: #ffffff99;
}
.card:hover .button {
  background-color: #30e29d;
  color: #1f1f1f;
}
.button:hover {
  box-shadow: 1px 1px 120px #30e29d;
}

.price-bg::before {
  content: "";
  background-image: url("/logos/Vector 2383.svg");

  width: 100%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  right: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: 0;
}
.d-sec::before {
  content: "";
  background-image: url("/home/Ellipse 328.svg");

  width: 100%;
  position: absolute;
  top: 10px;
  backdrop-filter: blur(56px);
  left: 0px;
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: 0;
}
.hiring-bg {
  content: "";
  background-image: url("/home/Rectangle 29 (2).png");
  /* background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%); */
  /* background: linear-gradient(
    180deg,
    rgba(48, 226, 157, 0.7) 0%,
    rgba(43, 71, 195, 0.7) 100%
  ); */
  background-position: 100% 90%;

  width: 100%;
  /* position: absolute; */
  /* top: 10px; */
  /* backdrop-filter: blur(56px); */
  /* right: 0px; */
  height: 100%;
  background-repeat: no-repeat;
  /* mix-blend-mode: color-dodge; */
  z-index: 2;
}

@media only screen and (min-width: 1500px) and (max-width: 5000px) {
  body {
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1920px) and (max-width: 3000px) {
  .hiring-bg {
    content: "";
    background-image: url("/home/Rectangle 29 (2).png");
    /* background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%); */
    /* background: linear-gradient(
    180deg,
    rgba(48, 226, 157, 0.7) 0%,
    rgba(43, 71, 195, 0.7) 100%
  ); */
    background-position: 50% 90%;
  }
  .price-bg::before {
    background-position: 50% 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  .hiring-bg {
    content: "";
    background-image: url("/home/Rectangle 29 (2).png");
    /* background: linear-gradient(156.63deg, #201da7 8.68%, #30e29d 84.91%); */
    /* background: linear-gradient(
    180deg,
    rgba(48, 226, 157, 0.7) 0%,
    rgba(43, 71, 195, 0.7) 100%
  ); */
    background-position: 50% 90%;
  }
  .price-bg::before {
    background-position: 50% 90%;
  }
}
